:root {
  --light: white;
  --dark: black;
  --green: #959a5a;

}

* {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  line-height: 1.5;
}

header {
  margin: 20px;
  color: white;
  text-align: center;
}

h1 {
  color: #959a5a;
  font-size: 28px;
  margin-bottom: 20px;
}

.headingBlurb {
  font-size: 14px;
  margin: 20px
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #959a5a;
  margin: 20px 10px;
}

section {
  border: dashed 1px white;
  margin: 20px;
  padding: 15px;
  width: 30%;
  flex: 1 0 auto;
  font-size: 14px;
}

h2 {
  font-size: 24px;
  padding: 3px;
  border: solid 1px white;
  border-radius: 5px;
  position: relative;
  margin-top: -30px;
  width: 75%;
  ;
}

/* white-space wrap text */
code {
  /* padding: 20px; */
  font-family: monospace;
  color: white;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
}

footer {
  text-align: center;
}



/* Mobile Devices: one column at anything under 768px */
@media screen and (min-width: 767px) {
  .card {
    max-width: 50%;
    flex: 0 0 50%;
  }
}      


/* three columns at 992px and above */
@media screen and (min-width: 992px) {
    .card {
      max-width: 33.333%;
      flex: 0 0 33.333%
    }
}

